@import 'bootstrap';

body {
  letter-spacing: 0.01rem;
}

#textbox {
  height: 250px;
}

a {
  color: darken($primary, 18%);

  &:hover {
    border-bottom: darken($primary, 5%) 1px solid;
    text-decoration: none;
  }
}
