@use 'sass:color';

@import 'bootstrap';

body {
  letter-spacing: 0.01rem;
}

#textbox {
  height: 250px;
}

a {
  text-decoration: none;
  color: color.adjust($primary, $lightness: -18%);

  &:hover {
    border-bottom: color.adjust($primary, $lightness: -5%) 1px solid;
    text-decoration: none;
  }
}
.list-group-item {
  border-color: #1a0f1920 !important;
  padding: 12px 20px;
}
.small {
  font-weight: 400;
}
